body {
    background-color: #e0d3af;
    background-image: url(../background.png);  
    background-size: cover;
}

#Note-C-First {
    transform: rotate(90deg);
    position:absolute;
    margin-top: 50px;
    cursor: grab;
    left: 46%;
    color: #4b371c; 
}

#test {
    transform: rotate(90deg); 
    left: 1270px; 
    position: absolute; 
}

